*~
\#*\#
.\#*

*.tex
*.aux
*.log
*.rip
*.bbl
*.blg
*.toc
*.ilg
*.out
*.idx
*.ind

hyperSpec/NAMESPACE
hyperSpec/data/*.rda
hyperSpec/R/sysdata.rda
hyperSpec/vignettes/*.Rnw
hyperSpec/vignettes/vignettes.defs
hyperSpec/vignettes/read.txt.PerkinElmer.R
hyperSpec/vignettes/fig-3D.png
hyperSpec/vignettes/hyperspec.bib
hyperSpec/vignettes/functions.RData
hyperSpec/vignettes/rawdata
hyperSpec/inst/doc/*.pdf
hyperSpec/inst/doc/vignettes.defs
hyperSpec/inst/doc/rawdata
hyperSpec/vignettes/rawdata
hyperSpec/vignettes/strukturhyperspec.pdf
hyperSpec/man/*.Rd
Vignettes/*/*.pdf
Vignettes/*/*.png
Vignettes/*/vignettes.defs
Vignettes/chondro/rawdata/
Vignettes/flu/read.txt.PerkinElmer.R
Vignettes/fileio/wdf.Renishaw/WdfAccess
Vignettes/flu/rawdata/flu*.txt
Vignettes/plotting/plotting-pkg.bib
Vignettes/laser/rawdata/*
hyperSpec/vignettes/chondro.pdf*
hyperSpec/vignettes/fileio.pdf*


hyperSpec_*.tar.gz
*.Rcheck

.build.timestamp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user
*.Rproj

Vignettes/*/*-pkg.bib
Vignettes/chondro/chondro-internal.rda
Vignettes/fileio/barbiturates.rda
Vignettes/fileio/paracetamol.rda
Vignettes/flu/flu.rda
Vignettes/laser/laser.rda
hyperSpec/tests/testthat/Rplots.pdf
hyperSpec/tests/testthat/fileio
