*~
\#*\#
.\#*

*.tex
*.aux
*.log
*.rip
*.bbl
*.blg
*.toc
*.ilg
*.out
*.idx
*.ind

hyperSpec_*.tar.gz
*.Rcheck

.build.timestamp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# Example code in package build process
*-Ex.R

# Mac directory files
*.DS_Store

# RStudio files
.Rproj.user
*.Rproj

# Rnw vignettes
Vignettes/*/*-pkg.bib
Vignettes/*/*.pdf
Vignettes/*/*.png
Vignettes/*/vignettes.defs
Vignettes/chondro/chondro-internal.rda
Vignettes/chondro/rawdata/
Vignettes/fileio/barbiturates.rda
Vignettes/fileio/paracetamol.rda
Vignettes/fileio/wdf.Renishaw/WdfAccess
Vignettes/flu/flu.rda
Vignettes/flu/rawdata/flu*.txt
Vignettes/flu/read.txt.PerkinElmer.R
Vignettes/laser/laser.rda
Vignettes/laser/rawdata/*
Vignettes/plotting/plotting-pkg.bib
