*~
\#*\#
.\#*

*.tex
*.aux
*.log
*.rip
*.bbl
*.blg
*.toc
*.ilg
*.out
*.idx
*.ind


hyperSpec_*.tar.gz
*.Rcheck

.build.timestamp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Mac directory files
*.DS_Store

# RStudio files
.Rproj.user
*.Rproj

# Local pkgdown files
docs

# Unit tests
tests/testthat/Rplots.pdf
tests/testthat/fileio

# Vignettes
vignettes/*-pkg.bib
vignettes/resources/*.bib
