
#index > h1 {
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

/* --- Info boxes --------------------------------------------------------- */

.add-border {
  border: 5px solid #9F6000;
}

div.redbox {
  color:            #C8000C;
  border: 5px solid #C8000C;
  background-color: #FFCFCF;
}

div.note, div.yellowbox {
  color:            #9F6000;
  border: 5px solid #9F6000;
  background-color: #FEEFB3;
}

div.greenbox {
  color:            #009900;
  border: 5px solid #009900;
  background-color: #DFF2BF;
}

div.redbox, div.note, div.yellowbox, div.greenbox{
  /* width:       650px; */
  padding:     10px;
  margin:      0;
  /*
  font-size:   1.5em;
  font-weight: bold;
  */
  margin-top:    1em;
  margin-bottom: 1em;
  text-align:  justify;
  border-radius: 10px;
}

div.redbox    pre.sourceCode,
div.greenbox  pre.sourceCode,
div.note      pre.sourceCode,
div.yellowbox pre.sourceCode {
  text-align: left;
  font-size: 0.9em;
}


div.note-t {
  color:            #D8000C;
  border: 5px solid #C8000C;
  background-color: #FEEF83;
  width:       100%;
  max-width:   650px;
  padding:     10px;
  margin:      auto;
  margin-top:    5em;
  margin-bottom: 5em;
  border-radius: 10px;
}


/* Code  ------------------------------------------------------------------ */

/* Inline code */
.book .book-body .page-wrapper .page-inner section.normal code {
    background-color: inherit;
    overflow-x: auto;
    padding: 0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.book .book-body .page-wrapper .page-inner section.normal table code {
    white-space: pre;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
    background-color: inherit;
    overflow-x: auto;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre {
    /*
    border: 2px solid #f8df9c;
    padding: .25em 1em;
    */
    border-radius: 5px;
    line-height: 1.3em;
}

code span.ot {
    color: #990000;
}

code span.output {
    color: #666;
}

p code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal code:after,
.book .book-body .page-wrapper .page-inner section.normal code:before {
    content: "";
}

/* Inherits background color for the box or code from the main theme
and avoids the stripe beneeth the box: */



.book .book-body .page-wrapper .page-inner section.normal div.div.note-t code,
.book .book-body .page-wrapper .page-inner section.normal div.redbox     code,
.book .book-body .page-wrapper .page-inner section.normal div.yellowbox  code,
.book .book-body .page-wrapper .page-inner section.normal div.note       code,
.book .book-body .page-wrapper .page-inner section.normal div.greenbox   code {
  color: black;
}

div.sourceCode {
  background-color: inherit !important;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

code span.rez {
    color: #454545;
    /* font-weight: bold; */
}





/* --- Other --------------------------------------------------------------- */

.figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}


/* --- Other --------------------------------------------------------------- */

body > address {
  font-size: 12px;
}

h1 {
  margin-top:    40px;
  margin-bottom: 20px;
}

h4.author {
    border-bottom: none;
    margin-bottom: 0px;
}

body > h4.author > sup {
  font-weight: normal;
}

/* ------------------------------------------------------------------------ */
/* Code highlighting */
/* Class described in https://benjeffrey.com/posts/pandoc-syntax-highlighting-css */


code  span.al { color: #ff0000; font-weight: bold; } /* Alert */
code  span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code  span.at { color: #7d9029; } /* Attribute */
code  span.bn { color: #40a070; } /* BaseN */
code  span.bu { } /* BuiltIn */
code  span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code  span.ch { color: #4070a0; } /* Char */
code  span.cn { color: #880000; } /* Constant */
code  span.co { color: #60a0b0; font-style: italic; } /* Comment */
code  span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code  span.do { color: #ba2121; font-style: italic; } /* Documentation */
code  span.dt { color: #902000; } /* DataType */
code  span.dv { color: #40a070; } /* DecVal */
code  span.er { color: #ff0000; font-weight: bold; } /* Error */
code  span.ex { } /* Extension */
code  span.fl { color: #40a070; } /* Float */
code  span.fu { color: #06287e; } /* Function */
code  span.im { } /* Import */
code  span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code  span.kw { color: #007020; font-weight: bold; } /* Keyword */
/* code  span.op { color: #666666; }*/ /* Operator */
code  span.ot { color: #007020; } /* Other */
code  span.pp { color: #bc7a00; } /* Preprocessor */
code  span.sc { color: #4070a0; } /* SpecialChar */
code  span.ss { color: #bb6688; } /* SpecialString */
code  span.st { color: #4070a0; } /* String */
code  span.va { color: #19177c; } /* Variable */
code  span.vs { color: #4070a0; } /* VerbatimString */
code  span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */

/* Additional Code highlighting */

code  span.op { color: #de6902; } /* operator */
/* code  span.st { color: #d14; } */   /* String */
